.container {
  padding: 15px;
  padding-top: 25px;
  border: 1px solid red;
  border-radius: 8px;
  max-width: 300px;
  margin: auto;
}
.title {
  /* display: flex;
  margin-left: auto;
  margin-right: auto; */
  text-align: center;
}
.passwordIconButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(40%);
}
.passwordField {
  flex-direction: column;
  position: relative;
}
