.list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.avatar {
  height: 30px;
  width: auto;
  margin-right: 4px;
  border-radius: 10px;
}

.button {
  height: 30px;
  border-radius: 4px;
  margin-left: 10px;
  font-size: inherit;
}
.button:focus,
.button:hover {
  background-color: rgb(214, 214, 214);
}
