.list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}
.avatar {
  height: 30px;
  width: auto;
  margin-right: 4px;
  border-radius: 10px;
}

.button {
  background: rgba(202, 148, 0, 0.329);
  border-radius: 4px;
  margin-left: 10px;
  font-size: inherit;
  cursor: pointer;
}
.button:focus,
.button:hover {
  background-color: rgb(214, 214, 214);
}

.tile {
  margin-left: 5px;
  color: rgb(6, 150, 90);
  font-weight: 700;
  font-size: 18px;
}
